input[type="radio"] {
  display: none;
}

.btn-question {
    font-weight: bold;
    display: inline-block;
    width: 400px;
    margin: 5px 0;
    vertical-align: middle;
}
         
.tooltipLocal {
            position: relative;
            display: inline-block;
        }
        /* Tooltip text */
        .tooltipLocal .tooltiptext {
            visibility: hidden;
            width: 500px;
            background-color: #ffffcc;
            color: black;
            text-align: left;
            padding: 5px 0;
            border-radius: 6px;
            border-color: #000000;
            border-width: 1px;
            border-style: solid;
            top: 100%;
            left: 45%;
            margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltipLocal:hover .tooltiptext {
            visibility: visible;
        }
.selectFix select{width: 395px; }        

.border-radius(@radius: 4px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.opacity(@opacity: 0.5) {
    @opacity100: @opacity*100;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacity100})";
    filter: alpha(opacity=@opacity100);
    -moz-opacity: @opacity;
    -khtml-opacity: @opacity;
    opacity: @opacity;
}
.fa-info-circle {
    color: #337ab7;
}
div.formular {
    margin-top: 35px;
    width: 840px;
    font-size: 14px;

    &, input, select, textarea, button {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    input, select, textarea, button {
        font-size: 13px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    button.close {
        font-size: 21px;
    }

    .ctrl {
        border: 1px solid #CCCCCC;
        .border-radius();
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555555;
        padding: 4px 5px;
        transition: ~"border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s";

        &:focus {
            border-color: #66AFE9;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
            outline: 0 none;
        }

        &[disabled], &[readonly] {
            background-color: #eee;
            border-color: #ccc !important;
            cursor: not-allowed;
        }
    }

    label {
        font-weight: normal;

        span.question {
            font-weight: bold;
            display: inline-block;
            width: 400px;
            margin: 5px 0;
            vertical-align: middle;

            span {
                font-weight: normal;
                display: inline;
            }
        }

    }
    .buttondisabled-selected {
        background-color: #330855 !important;
    }
    .buttondisabled {
        background-color: #eee;
        border-color: #ccc !important;
        cursor: not-allowed;
    }

    span.help {
        font-size: 83%;
    }

    div.r {
        margin: 8px 0;
    }

    div.lvl {
        margin-left: 30px;
    }

    div.lvl-2 {
        margin-left: 60px;
    }

    div.lvl-mark {
        border-left: 15px solid #CCCCCC;
        padding-left: 10px;
        margin: 10px 0 10px 40px;
    }

    .b {
        font-weight: bold;
    }

    div.s {
        border-bottom: 1px solid #ddd;
        width: 100%;
    }

    .rcc-invalid {
        background-color: #FCF8E3;
        border-color: #EEA236;

        &:focus {
            border-color: #EEA236;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #EEA236;
        }
    }

    .rcc-invalid-fatal {
        background-color: #F2DEDE;
        border-color: #D43F3A !important;

        &:focus {
            border-color: #D43F3A;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #D43F3A;
        }
    }

    .comment {
        font-weight: bold;
        color: red;
    }

    .tabs {
        margin-top: 20px;

        .tab-head {
            background-color: #F7F7F9;
            .border-radius();
            border: 1px solid #DDDDDD;
            padding: 5px;
        }

        .tab-content {
            padding: 5px;
        }
    }

}

div.multi-answer-template {
    div.multi-item {
        background-color: #F7F7F9;
        padding: 5px 15px;
        margin-bottom: 10px;
    }

    div.single-item div.s-inl {
        display: inline-block;
        vertical-align: top;
    }

    div.no-inner-template-margin {
        margin-left: 0 !important;
    }
}

.full-width-text {
    width: 100%;
}

.s-a-b-fatal > label {
    background-color: rgb(255, 190, 190);
    border-color: #B90909;
    color: black;
}

.single-answer-template,
.multi-answer-template {

    .error-list {
        margin-left: 400px; 
        display: none;
        font-size: 11px;
        margin-top: 5px;

        .error-item {
            span {
                display: inline-block;
            }
        }
    }

    .errors {
        &.accessed {
            input, select, textarea {
                background-color: #fcf8e3;
                border-color: #8a6d3b;
                color: black;
            }

            &.fatal {
                input, select, textarea {
                    border-color: #B90909;
                    background-color: rgb(255, 190, 190);
                    color: black;
                }
            }

            .error-list {
                display: block;

                .error-item {
                    .fa {
                        font-size: 16px;
                        margin-right: 3px;
                    }

                    &.fatal .fa {
                        color: red;
                    }

                    &.non-fatal .fa {
                        color: #ffd351;
                    }
                }
            }
        }
    }

    .reviewer-include {
        padding-left: 10px;
        padding-bottom: 1px;
        cursor: pointer;
        font-size: 115%;
        vertical-align: middle;

        .glyphicon-unchecked {
            color: #a9a9a9;
        }

        .glyphicon-check {
            color: rgb(63, 72, 204);
        }

    }
}

div.no-help .help {
    display: none;
}

.tabs .content h2 {
    margin-top: 5px;
}

.nav-pills li a {
    cursor: pointer;
}
