@import "maestro2/misc";
@import "maestro2/autocomplete";
@import "maestro2/datepicker";
@import "maestro2/dialog";
@import "maestro2/filemanager";
@import "maestro2/slider";
@import "maestro2/yearpicker";

.textareaBig, .textareaSmall {
  .errors {
    .error-list {
      margin-left: 0;
    }
  }
}

#ipo button {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

#ipo button:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}

#ipo button:focus,
#ipo button:active {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}

/*.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  color: #fff;
  background-color:#aaa;
}*/

ul.tab-head.nav.nav-tabs > li > a.tab-red {
  &::after, &::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 10%;
    height: 3px;
    width: 80%;
    background: #ff3300;
  }
}

ul.tab-head.nav.nav-tabs > li > a.tab-yellow {
  &::after, &::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 10%;
    height: 3px;
    width: 80%;
    background: #FFD700;
  }
}

ul.tab-head.nav.nav-tabs > li > a.tab-green {
  &::after, &::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 10%;
    height: 3px;
    width: 80%;
    background: #33cc33;
  }
}

.rubrik {
  font-weight: bolder;
  text-decoration: underline;
  margin-top: 30px;
}

table#oversiktsTable {

}
table#oversiktsTable td {
  font-size: 12px;
  font-weight: bold;
}
table#oversiktsTable th {
  font-size: 12px;
}
